USE [master]
GO
/****** Object:  Database [BitMag]    Script Date: 18.12.2020 16:36:38 ******/
CREATE DATABASE [BitMag]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BitMag', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.WOL_707\MSSQL\DATA\BitMag.mdf' , SIZE = 270336KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BitMag_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.WOL_707\MSSQL\DATA\BitMag_log.ldf' , SIZE = 139264KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BitMag].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BitMag]
GO
/****** Object:  Table [dbo].[Т_Должность]    Script Date: 18.12.2020 16:36:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Т_Должность](
	[Код_Должности] [int] IDENTITY(1,1) NOT NULL,
	[Должность] [nvarchar](33) NULL,
 CONSTRAINT [PK_Т_Должность] PRIMARY KEY CLUSTERED 
(
	[Код_Должности] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Т_КатегорияТовара]    Script Date: 18.12.2020 16:36:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Т_КатегорияТовара](
	[Код_Кат] [int] IDENTITY(1,1) NOT NULL,
	[Кат_Товара] [nvarchar](33) NULL,
 CONSTRAINT [PK_Т_КатегорияТовара] PRIMARY KEY CLUSTERED 
(
	[Код_Кат] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Т_Клиенты]    Script Date: 18.12.2020 16:36:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Т_Клиенты](
	[Код_клиента] [int] IDENTITY(1,1) NOT NULL,
	[ФИО_клиента] [nvarchar](73) NULL,
	[Телефон] [nvarchar](15) NULL,
 CONSTRAINT [PK_Т_Клиенты] PRIMARY KEY CLUSTERED 
(
	[Код_клиента] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Т_Пользователи]    Script Date: 18.12.2020 16:36:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Т_Пользователи](
	[Код_П] [int] IDENTITY(1,1) NOT NULL,
	[Пользователь] [nvarchar](73) NULL,
	[Пароль] [int] NULL,
 CONSTRAINT [PK_Т_Пользователи] PRIMARY KEY CLUSTERED 
(
	[Код_П] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Т_Поставки]    Script Date: 18.12.2020 16:36:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Т_Поставки](
	[Код_Поставки_ПТ] [int] IDENTITY(1,1) NOT NULL,
	[Код_Поставщика_ПТ] [int] NULL,
	[ДатаПоставки] [datetime] NULL,
 CONSTRAINT [PK_Т_Поставки] PRIMARY KEY CLUSTERED 
(
	[Код_Поставки_ПТ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Т_ПоставкиТовара]    Script Date: 18.12.2020 16:36:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Т_ПоставкиТовара](
	[КодПоставки] [int] NOT NULL,
	[КодКат_Товара] [int] NULL,
	[КодТовара] [int] NULL,
	[Кол_во] [int] NULL,
	[Код] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Т_ПоставкиТовара] PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Т_Поставщик]    Script Date: 18.12.2020 16:36:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Т_Поставщик](
	[Код_Поставщика] [int] IDENTITY(1,1) NOT NULL,
	[Поставщик] [nvarchar](72) NULL,
	[Адрес] [nvarchar](73) NULL,
	[Телефон] [nvarchar](15) NULL,
 CONSTRAINT [PK_Т_Поставщик] PRIMARY KEY CLUSTERED 
(
	[Код_Поставщика] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Т_Продажи]    Script Date: 18.12.2020 16:36:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Т_Продажи](
	[Код_Продажи_П] [int] IDENTITY(1,1) NOT NULL,
	[Дата_Продажи_П] [datetime] NULL,
	[Код_Продовца_П] [int] NULL,
	[Код_Клиента_П] [int] NULL,
 CONSTRAINT [PK_Т_Продажи] PRIMARY KEY CLUSTERED 
(
	[Код_Продажи_П] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Т_Продажи_Товара]    Script Date: 18.12.2020 16:36:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Т_Продажи_Товара](
	[Код_Продажи] [int] NOT NULL,
	[Код_Катег] [int] NULL,
	[Код_Товара] [int] NULL,
	[Кол_во] [int] NULL,
	[Код] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Т_Продажи_Товара] PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Т_Производитель]    Script Date: 18.12.2020 16:36:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Т_Производитель](
	[Код_Производителя] [int] IDENTITY(1,1) NOT NULL,
	[Производитель] [nvarchar](72) NULL,
	[Наценка] [smallint] NULL,
 CONSTRAINT [PK_Т_Производитель] PRIMARY KEY CLUSTERED 
(
	[Код_Производителя] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Т_Сотрудники]    Script Date: 18.12.2020 16:36:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Т_Сотрудники](
	[Код_Сотрудника] [int] IDENTITY(1,1) NOT NULL,
	[ФИО] [nvarchar](73) NULL,
	[Код_Должности] [int] NULL,
 CONSTRAINT [PK_Т_Сотрудники] PRIMARY KEY CLUSTERED 
(
	[Код_Сотрудника] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Т_Товар]    Script Date: 18.12.2020 16:36:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Т_Товар](
	[Код_Товара_Т] [int] IDENTITY(1,1) NOT NULL,
	[Товар_Т] [nvarchar](77) NULL,
	[Код_КатТовара_Т] [int] NULL,
	[Код_Производителя_Т] [int] NULL,
	[Изображение_Т] [nvarchar](99) NULL,
	[Цена_Закупочная_Т] [money] NULL,
	[Цена_Реализации_Т] [money] NULL,
	[ДатаВыпуска] [datetime] NULL,
	[Гарантия] [smallint] NULL,
	[Кол_во_Т] [int] NULL,
 CONSTRAINT [PK_Т_Товар] PRIMARY KEY CLUSTERED 
(
	[Код_Товара_Т] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Т_Должность] ON 

INSERT [dbo].[Т_Должность] ([Код_Должности], [Должность]) VALUES (1, N'Продавец')
INSERT [dbo].[Т_Должность] ([Код_Должности], [Должность]) VALUES (2, N'Менеджер')
INSERT [dbo].[Т_Должность] ([Код_Должности], [Должность]) VALUES (3, N'Управляющий')
SET IDENTITY_INSERT [dbo].[Т_Должность] OFF
SET IDENTITY_INSERT [dbo].[Т_КатегорияТовара] ON 

INSERT [dbo].[Т_КатегорияТовара] ([Код_Кат], [Кат_Товара]) VALUES (1, N'Стиральные машины')
INSERT [dbo].[Т_КатегорияТовара] ([Код_Кат], [Кат_Товара]) VALUES (2, N'Холодильники')
INSERT [dbo].[Т_КатегорияТовара] ([Код_Кат], [Кат_Товара]) VALUES (3, N'Сушильные машины')
SET IDENTITY_INSERT [dbo].[Т_КатегорияТовара] OFF
SET IDENTITY_INSERT [dbo].[Т_Клиенты] ON 

INSERT [dbo].[Т_Клиенты] ([Код_клиента], [ФИО_клиента], [Телефон]) VALUES (1, N'Иванов И.И.', N'(654) 643-33-33')
INSERT [dbo].[Т_Клиенты] ([Код_клиента], [ФИО_клиента], [Телефон]) VALUES (2, N'Маслов Н.С.', N'(435) 344-67-96')
INSERT [dbo].[Т_Клиенты] ([Код_клиента], [ФИО_клиента], [Телефон]) VALUES (3, N'Лопаткин В.Ф.', N'(908) 347-57-89')
SET IDENTITY_INSERT [dbo].[Т_Клиенты] OFF
SET IDENTITY_INSERT [dbo].[Т_Пользователи] ON 

INSERT [dbo].[Т_Пользователи] ([Код_П], [Пользователь], [Пароль]) VALUES (1, N'Управляющий', 1234)
INSERT [dbo].[Т_Пользователи] ([Код_П], [Пользователь], [Пароль]) VALUES (2, N'Менеджер', 1357)
INSERT [dbo].[Т_Пользователи] ([Код_П], [Пользователь], [Пароль]) VALUES (3, N'Продавец', 2468)
SET IDENTITY_INSERT [dbo].[Т_Пользователи] OFF
SET IDENTITY_INSERT [dbo].[Т_Поставки] ON 

INSERT [dbo].[Т_Поставки] ([Код_Поставки_ПТ], [Код_Поставщика_ПТ], [ДатаПоставки]) VALUES (1, 2, CAST(N'2019-10-01T00:00:00.000' AS DateTime))
INSERT [dbo].[Т_Поставки] ([Код_Поставки_ПТ], [Код_Поставщика_ПТ], [ДатаПоставки]) VALUES (2, 1, CAST(N'2019-09-09T00:00:00.000' AS DateTime))
INSERT [dbo].[Т_Поставки] ([Код_Поставки_ПТ], [Код_Поставщика_ПТ], [ДатаПоставки]) VALUES (3, 7, CAST(N'2020-05-19T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Т_Поставки] OFF
SET IDENTITY_INSERT [dbo].[Т_ПоставкиТовара] ON 

INSERT [dbo].[Т_ПоставкиТовара] ([КодПоставки], [КодКат_Товара], [КодТовара], [Кол_во], [Код]) VALUES (2, 1, 58, 2, 1)
INSERT [dbo].[Т_ПоставкиТовара] ([КодПоставки], [КодКат_Товара], [КодТовара], [Кол_во], [Код]) VALUES (1, 9, 97, 1, 2)
INSERT [dbo].[Т_ПоставкиТовара] ([КодПоставки], [КодКат_Товара], [КодТовара], [Кол_во], [Код]) VALUES (1, 5, 72, 3, 3)
SET IDENTITY_INSERT [dbo].[Т_ПоставкиТовара] OFF
SET IDENTITY_INSERT [dbo].[Т_Поставщик] ON 

INSERT [dbo].[Т_Поставщик] ([Код_Поставщика], [Поставщик], [Адрес], [Телефон]) VALUES (1, N'Ритейл Сервис', N'Челябинск, Россия 454036', N'4534646352')
INSERT [dbo].[Т_Поставщик] ([Код_Поставщика], [Поставщик], [Адрес], [Телефон]) VALUES (2, N'Оптовая база номер 1', N'Москва, Россия', N'4464646563')
INSERT [dbo].[Т_Поставщик] ([Код_Поставщика], [Поставщик], [Адрес], [Телефон]) VALUES (3, N'КИТ Электроникс', N'Зеленоград, Россия 124575', N'3453453455')
SET IDENTITY_INSERT [dbo].[Т_Поставщик] OFF
SET IDENTITY_INSERT [dbo].[Т_Продажи] ON 

INSERT [dbo].[Т_Продажи] ([Код_Продажи_П], [Дата_Продажи_П], [Код_Продовца_П], [Код_Клиента_П]) VALUES (1, CAST(N'2019-10-01T00:00:00.000' AS DateTime), 3, 3)
INSERT [dbo].[Т_Продажи] ([Код_Продажи_П], [Дата_Продажи_П], [Код_Продовца_П], [Код_Клиента_П]) VALUES (2, CAST(N'2019-10-09T00:00:00.000' AS DateTime), 4, 2)
INSERT [dbo].[Т_Продажи] ([Код_Продажи_П], [Дата_Продажи_П], [Код_Продовца_П], [Код_Клиента_П]) VALUES (3, CAST(N'2019-10-28T00:00:00.000' AS DateTime), 3, 1)
SET IDENTITY_INSERT [dbo].[Т_Продажи] OFF
SET IDENTITY_INSERT [dbo].[Т_Продажи_Товара] ON 

INSERT [dbo].[Т_Продажи_Товара] ([Код_Продажи], [Код_Катег], [Код_Товара], [Кол_во], [Код]) VALUES (1, 2, 59, 2, 1)
INSERT [dbo].[Т_Продажи_Товара] ([Код_Продажи], [Код_Катег], [Код_Товара], [Кол_во], [Код]) VALUES (2, 1, 63, 1, 2)
INSERT [dbo].[Т_Продажи_Товара] ([Код_Продажи], [Код_Катег], [Код_Товара], [Кол_во], [Код]) VALUES (2, 5, 73, 1, 3)
SET IDENTITY_INSERT [dbo].[Т_Продажи_Товара] OFF
SET IDENTITY_INSERT [dbo].[Т_Производитель] ON 

INSERT [dbo].[Т_Производитель] ([Код_Производителя], [Производитель], [Наценка]) VALUES (1, N'LG', 2)
INSERT [dbo].[Т_Производитель] ([Код_Производителя], [Производитель], [Наценка]) VALUES (2, N'Bosch', 1)
INSERT [dbo].[Т_Производитель] ([Код_Производителя], [Производитель], [Наценка]) VALUES (3, N'Samsung', 3)
SET IDENTITY_INSERT [dbo].[Т_Производитель] OFF
SET IDENTITY_INSERT [dbo].[Т_Сотрудники] ON 

INSERT [dbo].[Т_Сотрудники] ([Код_Сотрудника], [ФИО], [Код_Должности]) VALUES (2, N'Михалков Н.С.', 2)
INSERT [dbo].[Т_Сотрудники] ([Код_Сотрудника], [ФИО], [Код_Должности]) VALUES (3, N'Никитин М.А.', 1)
INSERT [dbo].[Т_Сотрудники] ([Код_Сотрудника], [ФИО], [Код_Должности]) VALUES (4, N'Васнецов В.В.', 1)
SET IDENTITY_INSERT [dbo].[Т_Сотрудники] OFF
SET IDENTITY_INSERT [dbo].[Т_Товар] ON 

INSERT [dbo].[Т_Товар] ([Код_Товара_Т], [Товар_Т], [Код_КатТовара_Т], [Код_Производителя_Т], [Изображение_Т], [Цена_Закупочная_Т], [Цена_Реализации_Т], [ДатаВыпуска], [Гарантия], [Кол_во_Т]) VALUES (7, N'F2J6WS0W', 1, 3, NULL, 24700.0000, 25194.0000, CAST(N'2017-11-04T00:00:00.000' AS DateTime), 24, 3)
INSERT [dbo].[Т_Товар] ([Код_Товара_Т], [Товар_Т], [Код_КатТовара_Т], [Код_Производителя_Т], [Изображение_Т], [Цена_Закупочная_Т], [Цена_Реализации_Т], [ДатаВыпуска], [Гарантия], [Кол_во_Т]) VALUES (14, N'Вытяжка Mini 600', 4, 2, NULL, 5600.0000, 5656.0000, CAST(N'2019-04-02T00:00:00.000' AS DateTime), 12, 3)
INSERT [dbo].[Т_Товар] ([Код_Товара_Т], [Товар_Т], [Код_КатТовара_Т], [Код_Производителя_Т], [Изображение_Т], [Цена_Закупочная_Т], [Цена_Реализации_Т], [ДатаВыпуска], [Гарантия], [Кол_во_Т]) VALUES (15, N'DP-50', 5, 1, NULL, 5000.0000, 5100.0000, CAST(N'2018-07-04T00:00:00.000' AS DateTime), 24, 2)
SET IDENTITY_INSERT [dbo].[Т_Товар] OFF
ALTER TABLE [dbo].[Т_Поставки]  WITH CHECK ADD  CONSTRAINT [FK_Т_Поставки_Т_Поставщик] FOREIGN KEY([Код_Поставщика_ПТ])
REFERENCES [dbo].[Т_Поставщик] ([Код_Поставщика])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Т_Поставки] CHECK CONSTRAINT [FK_Т_Поставки_Т_Поставщик]
GO
ALTER TABLE [dbo].[Т_ПоставкиТовара]  WITH CHECK ADD  CONSTRAINT [FK_Т_ПоставкиТовара_Т_Поставки] FOREIGN KEY([КодПоставки])
REFERENCES [dbo].[Т_Поставки] ([Код_Поставки_ПТ])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Т_ПоставкиТовара] CHECK CONSTRAINT [FK_Т_ПоставкиТовара_Т_Поставки]
GO
ALTER TABLE [dbo].[Т_ПоставкиТовара]  WITH CHECK ADD  CONSTRAINT [FK_Т_ПоставкиТовара_Т_Товар] FOREIGN KEY([КодТовара])
REFERENCES [dbo].[Т_Товар] ([Код_Товара_Т])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Т_ПоставкиТовара] CHECK CONSTRAINT [FK_Т_ПоставкиТовара_Т_Товар]
GO
ALTER TABLE [dbo].[Т_Продажи]  WITH CHECK ADD  CONSTRAINT [FK_Т_Продажи_Т_Клиенты] FOREIGN KEY([Код_Клиента_П])
REFERENCES [dbo].[Т_Клиенты] ([Код_клиента])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Т_Продажи] CHECK CONSTRAINT [FK_Т_Продажи_Т_Клиенты]
GO
ALTER TABLE [dbo].[Т_Продажи]  WITH CHECK ADD  CONSTRAINT [FK_Т_Продажи_Т_Сотрудники] FOREIGN KEY([Код_Продовца_П])
REFERENCES [dbo].[Т_Сотрудники] ([Код_Сотрудника])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Т_Продажи] CHECK CONSTRAINT [FK_Т_Продажи_Т_Сотрудники]
GO
ALTER TABLE [dbo].[Т_Продажи_Товара]  WITH CHECK ADD  CONSTRAINT [FK_Т_Продажи_Товара_Т_Продажи] FOREIGN KEY([Код_Продажи])
REFERENCES [dbo].[Т_Продажи] ([Код_Продажи_П])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Т_Продажи_Товара] CHECK CONSTRAINT [FK_Т_Продажи_Товара_Т_Продажи]
GO
ALTER TABLE [dbo].[Т_Продажи_Товара]  WITH CHECK ADD  CONSTRAINT [FK_Т_Продажи_Товара_Т_Товар] FOREIGN KEY([Код_Товара])
REFERENCES [dbo].[Т_Товар] ([Код_Товара_Т])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Т_Продажи_Товара] CHECK CONSTRAINT [FK_Т_Продажи_Товара_Т_Товар]
GO
ALTER TABLE [dbo].[Т_Сотрудники]  WITH CHECK ADD  CONSTRAINT [FK_Т_Сотрудники_Т_Должность] FOREIGN KEY([Код_Должности])
REFERENCES [dbo].[Т_Должность] ([Код_Должности])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Т_Сотрудники] CHECK CONSTRAINT [FK_Т_Сотрудники_Т_Должность]
GO
ALTER TABLE [dbo].[Т_Товар]  WITH CHECK ADD  CONSTRAINT [FK_Т_Товар_Т_КатегорияТовара] FOREIGN KEY([Код_КатТовара_Т])
REFERENCES [dbo].[Т_КатегорияТовара] ([Код_Кат])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Т_Товар] CHECK CONSTRAINT [FK_Т_Товар_Т_КатегорияТовара]
GO
ALTER TABLE [dbo].[Т_Товар]  WITH CHECK ADD  CONSTRAINT [FK_Т_Товар_Т_Производитель] FOREIGN KEY([Код_Производителя_Т])
REFERENCES [dbo].[Т_Производитель] ([Код_Производителя])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Т_Товар] CHECK CONSTRAINT [FK_Т_Товар_Т_Производитель]
GO
USE [master]
GO
